p{
    font-family:arial, helvetica, sans-serif;
}
 nav > ul.menuB {
 list-style-type: none;
flex:9;
  
}

nav ul.menuB li {
  display:inline;
  font-size: 1.5vw; /*padding:2vw;*/
  padding-left:1vw;
  padding-right:1vw;
  padding-top:5vw;
  padding-bottom:8vw;


}

.center {
  margin: auto;
  border: 3px solid #73AD21;
  padding: 10px;
}
